# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo

# Build files
dist/
build/

# Cache files
.npm
.eslintcache
data/
backups/
.superpowers/
